{% extends 'blog/base.html' %}
{% block head %}
<title>云站点</title>
<style>
    div {
        text-align: center;
        /*可以让盒子内容（文字 行内元素 行内块元素）居中对齐*/
        width: 600px;
        height: 200px;
        background-color: pink;
        /* margin: 0 auto; 通俗写法 0 auto  上下是 0  左右是auto  自动  水平居中对齐 */
        /* margin-left: auto;
		 margin-right: auto; 自动充满*/
        /* margin: auto; 上下左右都是auto*/
        margin: auto;

    }
</style>
{% load static %}
{% endblock head %}
{% block section %}
<div class="box">
    <button type="button" id="btn" class="button is-text" onclick="window.location.href = 'https://bjldqe.lanzoup.com/i063Z0p6nd3g'">汇报PPT</button>
</div>



{% endblock %}